.container{
    background-color:whitesmoke;
    display: inline-block;
    margin:5%;
    padding:5%;
    margin-left: 35%;
    padding-top: 2%;
    margin-top: 2%;
}

.form-control small{
    visibility: hidden;
}

#submit-btn{
    background-color: rgb(115, 189, 246);
    margin-left: 25%;
    border-color: transparent;
    display: ;
}

#submit-btn:hover{
    background-color: rgb(7, 127, 219);
}